{% extends 'base.html.twig' %}

{% block title %}Read Blog {{ blog.title }} {% endblock %}

{% block body %}
<div class="container-fluid bg-light py-3">
    <div class="container">
        <div class="text-start text-lg-center">
            <h1>Read Blog </h1>
        </div>
        <div class="row">            
            
            <div class="col-md-12 mb-3">                
                <div class="pb-4">
                    <img src="{{blog.image}}" alt="{{blog.title}}" class="img-fluid" style="height:400px;width:100%;">   
                </div>
                <h1>{{blog.title}}</h1>  
                <p>{{blog.description}}</p>             
            </div>          
          <div>
            <h5>
                <a href="/edit/{{blog.id}}" class="btn btn-success">Update</a>
                <a href="/delete/{{blog.id}}" class="btn btn-danger float-right">Delete</a>

            </h5>
          </div>
            
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{% endblock %}